# .gitignore

# Python cache files and directories
__pycache__/
*.py[cod]

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
*.so
*.dll

# C extensions
*.c

# Distribution / packaging
.Python
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/

# Service account key
*.json

# Flask file uploads
uploads/

# Model files
#*.h5
